.comment {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.comment .user-img {
  margin: 10px;
}

.comment .comment-body .comment-user {
  font-size: 14px;
  font-weight: bold;
}

.comment .comment-body .comment-date {
  font-size: 12px;
  color: #4a4a4a;
}

.comment .comment-body .comment-content {
  font-size: 14px;
  color: #999;
}
