hr {
  background-color: #00adee;
  border: none;
  width: 600px;
  height: 1px;
}
.nav-back span {
  position: fixed;
  top: 15px;
  left: 35px;
}

.detail {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
