.comment-input {
  display: flex;
}

.comment-img {
  margin: 10px;
}

.comment-form p {
  font-weight: bold;
  font-size: 14px;
}

.comment-form form {
  flex-direction: column;
  align-items: start;
}

.comment-form form input {
  border: 1px solid #979797;
  width: 500px;
  height: 75px;
  margin: 10px;
}

.comment-form form button {
  background:#a5cd39;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width:192px;
  height:38px;
  margin: 10px;
}
